uhub-sys-api/src/main/mule/implementation/get-corona-case-by-nationalId.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="get:\(nationalID):uhub-sys-api-config" doc:id="9857c4b6-ea91-4b85-bf40-54ffa41848fc" >
		<logger level="INFO" doc:name="Logger" doc:id="7c8fdf8b-c571-40e8-afa8-489bf40a66d4" message="Retrieve using national id flow invoked"/>
		<set-variable value="#[attributes.uriParams.nationalID]" doc:name="Set Variable" doc:id="882b6da0-6eb4-4a3a-a592-0c7edf83ee56" variableName="nationalID"/>
		<flow-ref doc:name="select-corona-case-using-nationalId" doc:id="39fd8afc-1667-4f96-bed7-733300bac6e5" name="select-corona-case-using-nationalId" />
		<choice doc:name="Choice" doc:id="2f61f21a-b4f6-43b3-9c8e-96896581338b" >
			<when expression="#[sizeOf(payload) &gt; 0]">
				<ee:transform doc:name="Transform Message" doc:id="c179f9bb-6b3f-4ee0-82ca-be5398484cd6">
			<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
					<ee:variables>
				<ee:set-variable variableName="nationalID"><![CDATA[attributes.uriParams.'nationalID']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
			</when>
			<otherwise >
				<raise-error doc:name="Raise error" doc:id="b730591a-2446-4bb8-ba1b-0b1616ad60b2" type="CUSTOM:DATA_NOT_FOUND"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="e61060df-4415-490b-95fb-d9964c3451fd" message="END Flow"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="508c16b1-4c41-4dcf-a407-e38c6386ea51" type="CUSTOM:DATA_NOT_FOUND">
				<ee:transform doc:name="Transform Message" doc:id="2e6380cb-f172-42a4-9a58-9bdaa4e9c270" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"statusCode" : 404,
	"message" : error.description,
	"time" : now() as String {format : "yyyy-MM-dd" ++ " " ++ "HH-mm-ss"}
	
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA["404"]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
